<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/detail-project.css">
  <link rel="stylesheet" href="../assets/nav.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Detail</title>
</head>

<body>
  <div class="bg-light p-2">
    <nav class="container navbar navbar-expand-sm navbar-light">
      <div class="container-fluid">
        <a href="/">
          <img src="../assets/icon/du.png" alt="download" width="45px" height="40px" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add-project">Add My Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testimoni">Testimonial</a>
            </li>
          </ul>
          <a href="/contact">
            <button class="btn btn-dark">
              Contact
            </button>
          </a>
        </div>
        <i class="fa-solid fa-bars fa-2x" style="cursor: pointer;" id="hamburger-button" onclick="openHamburger()">
        </i>
      </div>
    </nav>

    <div id="hamburger-navbar-container" class="hamburger-navbar-container hidden">
      <a class="hamburger-navbar-link" href="/">Home</a>
      <a class="hamburger-navbar-link" href="/add-project">Add My Project</a>
      <a class="hamburger-navbar-link" href="/testimoni">Testimonial</a>
      <a class="hamburger-navbar-link" href="/contact">Contact</a>
    </div>
  </div>

  <div class="container">
    <div>
      <h1 class="text-center fw-bold my-4">
        {{ data.name }}
      </h1>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-lg-between">
      <div>
        <img src="../assets/icon/du.png" alt="download" width="400px" height="300px">
      </div>
      <div class="w-25 ms-5">
        <div class="d-flex flex-column">
          <h2 class="fw-bold">Duration</h2>
          <p class="fs-5"><i class="fas fa-calendar-week me-2"></i>{{data.startDate}} - {{data.endDate}}</p>
          <p class="fs-5"><i class="far fa-clock me-2"></i>{{data.duration}}</p>
        </div>
        <div>
          <h2 class="fw-bold">Technologies</h2>
          <div class="pt-2 row">
            {{#each data.techArray}}
              <div class="col d-flex align-items-center gap-1 fs-5">
                {{{  this.icon  }}}
                <span>{{this.name}}</span>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="border: none;">
      <p>{{data.desc}}</p>
    </div>
  </div>
  <script src="../assets/js/nav.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
</body>

</html>